body, .titulo {
    background-color: rgb(224, 221, 221);
}


input{
    border: none;
    outline: none;
}

button{
    opacity: 0;
}

button:hover{
    opacity: 100;
    border: none;
}


.tarjeta{
    
    border-radius: 0;
    box-shadow: 3px 3px white, 6px 6px white, 9px 9px white;
}


.abajo{
    font-size: x-small;
}